---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';

const allPosts = await getCollection('posts');
const post = allPosts.find((p) => p.slug === Astro.params.slug);
---
<Base title={post.data.title} description={post.data.description}>
  <article>
    <h1>{post.data.title}</h1>
    <p><time datetime={post.data.date}>{post.data.date}</time></p>
    <post.Content />
  </article>
</Base>
